// Fonts
$open-Sans: 'Open Sans', sans-serif;
$open-Sans-Condensed: 'Open Sans Condensed', sans-serif;
$oswald: 'Oswald', sans-serif;

// sizes
$content-width: 1260px;
$content-font-size: 16px;

// colors
$background-color: #fff;
$main-text-color: #222;
$primary-color: #102c3a;
$heading-color: #e54e48;
$h1-color: #ff3d42;
$h3-color: #ef4d41;
$wireframing-color: #fff;
$button-color: #193a4a;
$bullet-color: #112d3a;
$bullet-line-color: #d3ccd3;
$bullet-text-color: #c0c0c0;
