@import "variables";

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 130px 0 0;
	
	&-search {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		.search-info {
		 	padding: 50px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			h3 {
				color: $h3-color;
				font-family: $oswald;
				font-size: 1.5em;
				font-weight: bold;
				text-transform: uppercase;
			}
			p {
				width: 60%;
				font-size: 0.938em;
				color: $primary-color;
			}
			
			&-img {
				margin-top: 10%;
				max-width: 80%;
				img {
					width: 100%;
				}
			}
		}
		
		.search-img {
			width: 50%;
			
			img {
				width: 100%;
				display: block;
			}
		}
	}
	&-tickets {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.tickets-img {
			width: 40%;
			overflow: hidden;
			display: flex;
			justify-content: flex-end;
			img {
			}
		}
		.tickets-info {
			padding: 50px;
		}
	}
	&-controls {
		padding: 43px;
		display: flex;
		justify-content: space-between;
		&__back {
			display: flex;
			align-items: center;
			height: 42px;
			padding-left: 57px;
			font-size: 18px;
			text-transform: uppercase;
			color: #193a4a;
			font-family: "Open Sans",sans-serif;
			font-weight: 700;
			outline: 0;
			background: url(../img/arrow_back.png) no-repeat;
			&:hover {
				color: $button-color;
				text-decoration: none;
			}
		}
		&__next {
			@extend .footer-controls__back;
			background: url(../img/arrow_next.png) no-repeat right;
			padding-right: 57px;
			&:hover {
				color: $button-color;
				text-decoration: none;
			}
		}
	}
	
}
