@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/grid";

@import "variables";
@import "header";
@import "how-we-works";
@import "wireframe";
@import "footer";
@import "media-queries";


body {
	font-family: $open-Sans;
	font-size: $content-font-size;
	color: $main-text-color;
	background-color: $background-color;
}
